/*About page styling*/
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.container{
    position: relative;
    width: auto;
    height: 100vh;
}
.logoNav{
    display: flex;
    align-items: center;
    margin-top: -2vh;
    border-bottom: solid 5px #ffc107;
}
.clgName{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}
.clgName h1{
    margin-left: 16vw;
    font-weight: bold;
    font-size: 30px;
}
.clgName p{
    font-size: 20px;
    margin-left: 16vw;
    margin-top: -2vh;
}

.logo{
    width: 10vw;
    height: 12vh;
    margin-top: 2vh;

}

.navBar{
    background-color: #252525;
    width: 100vw;
    height: 15vh;
    display: flex;
    margin-left: -1vw;
    align-items: center;
    justify-content: space-between;
    
}
nav ul li{
    
    line-height: 50px;
    font-size: 20px;
    margin-right: 40px;
    display: inline-block;
    list-style: none;
}
nav ul li a{
    font-size: 24px;
    text-decoration: none;
    color:white;
    font-weight: bold;

}
nav ul li a:hover{
    color: #ffc107;
}

.textOverlay {
    left: auto;
    position: absolute;
    top: 30%;
    left: 0%; 
    background-color: #323232;
    width: 99vw;
    height: 15vh;
    color: #ffc107;
    text-align: center;
    justify-content: center;
    padding: 0;
    border-bottom: solid 5px #ffc107;
}

.textOverlay h1 {
    font-size: 36px;
    margin-top: 4vh;
    margin-right: 5vw;
}
.abtContent{
    display: block;
    padding: 150px;
    border-bottom: solid 2px #766e6e;
    margin-bottom: 15vh;
}
.abtContent h1{
    margin-left: 17vw;
    margin-top: 5vh;
}
.abtContent p {
    margin-top: 7vh;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    
}

.abtContent span{
    line-height: 30px;
    text-align: justify;
    
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}
.wrap{
    background-color: #d5d3d3ad;
    margin-block-start: -15vh;
    padding: 20px;
}
.wrap h1{
    margin-left: 36vw;
    padding: 10px;
    margin-bottom: 5vh;
    font-size: 48px;
}
.wrap ul li{
    list-style: disc;
    font-size: 24px;
    margin-left: 10vw;
}
.collapsible{
    overflow: hidden;
}
.collapsibleText{
    width: 70vw;
    margin-left: 7vw;
    text-align: justify;
    max-height: 1vh;
    overflow: hidden;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.collapsible label{
    font-size: 30px;
    font-weight: 600;
    background-color: #ffc107;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 38px;
    margin: 5vh 15vw;
    align-items: center;
    width: 65vw;
    cursor: pointer;
}
.collapsible input:checked ~ .collapsibleText{
    max-height: 35vh;
    padding-bottom: 20px;
    opacity: 1;
}
.collapsible input{
    display: none;
}
footer{
    background-color: #212529;
    color: white;
    display: flex;
    border-top: solid 5px #ffc107;
    
}
.address{
    margin: 100px;
}
.quickLinks{
    margin: 100px;
}
.shortAbt{
    margin: 100px;
    text-align: justify;
}

/*Department page styling*/
.dept-Toggle{
    margin-block-start: 0;
    background-image: url("clgbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    
}

.dept-Toggle ul li{
    padding: 20px;
    margin-top: 20vh;
    list-style: none;
    font-size: 28px;
    margin-left: 30vw;
    background-color: #ffc107;
    
    
}
.ce{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-block-start: 10vh;
    margin-bottom: 10vh;
    border-radius: 38px;
    align-items: center;
    width: 30vw;
}
.me{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 38px;
    margin: 25px;
    align-items: center;
    width: 30vw;
}
.en{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 38px;
    margin: 25px;
    align-items: center;
    width: 30vw;
}
.cs{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 38px;
    margin: 25px;
    align-items: center;
    width: 30vw;
}
.ca{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 38px;
    margin: 25px;
    align-items: center;
    width: 30vw;
}
.dropImg img{
    transition: max-height 0.5s, padding 0.5s;
    width: 30vw;
    height: 30vh;
    padding: 5px;
}

/*Library page css*/

.lib-Bar{
    margin-block-start: 30vh;
    background-color: #ffc107;
    width: 20vw;
    border-radius: 0px 50px 50px 0px;
}
.lib-Bar li{
    line-height: 50px;
    padding: 20px;

}
.lib-Bar ul li{
    list-style: none;
    color: #323232;
    font-weight: bold;
}
.lib-Bar ul li a{
    color: #323232;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    
}







