/*About page styling*/
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.logoNav{
    display: flex;
    align-items: center;
    margin-top: -2vh;
    border-bottom: solid 5px #ffc107;
}
.clgName{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}
.clgName h1{
    margin-left: 16vw;
    font-weight: bold;
    font-size: 30px;
}
.clgName p{
    font-size: 20px;
    margin-left: 16vw;
    margin-top: -2vh;
}

.logo{
    width: 10vw;
    height: 12vh;
    margin-top: 2vh;

}

.navBar{
    background-color: #252525;
    width: 100vw;
    height: 15vh;
    display: flex;
    margin-left: -1vw;
    align-items: center;
    justify-content: space-between;
    
}
nav ul li{
    
    line-height: 50px;
    font-size: 20px;
    margin-right: 40px;
    display: inline-block;
    list-style: none;
}
nav ul li a{
    font-size: 24px;
    text-decoration: none;
    color:white;
    font-weight: bold;

}
nav ul li a:hover{
    color: #ffc107;
}

.textOverlay {
    left: auto;
    position: absolute;
    top: 29%;
    left: 0%;
    z-index: 1000; 
    background-color: #323232;
    width: 99vw;
    height: 15vh;
    color: #ffc107;
    text-align: center;
    justify-content: center;
    padding: 0;
    border-bottom: solid 5px #ffc107;
}

.textOverlay h1 {
    font-size: 36px;
    margin-top: 4vh;
    margin-right: 5vw;
}
.abtContent{
    display: block;
    padding: 150px;
    border-bottom: solid 2px #766e6e;
    margin-bottom: 15vh;
}
.abtContent h1{
    margin-left: 17vw;
    margin-top: 5vh;
}
.abtContent p {
    margin-top: 7vh;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    
}

.abtContent span{
    line-height: 30px;
    text-align: justify;
    
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}
.wrap{
    background-color: #d5d3d3ad;
    margin-block-start: -15vh;
    padding: 20px;
}
.wrap h1{
    margin-left: 36vw;
    padding: 10px;
    margin-bottom: 5vh;
    font-size: 48px;
}
.wrap ul li{
    list-style: disc;
    font-size: 24px;
    margin-left: 10vw;
}

.collapsibleText{
    width: 70vw;
    margin-left: 7vw;
    text-align: justify;
    max-height: 1vh;
    overflow: hidden;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.collapsible{
    overflow: hidden;
}
.collapsible label{
    font-size: 30px;
    font-weight: 600;
    background-color: #ffc107;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 38px;
    margin: 5vh 15vw;
    align-items: center;
    width: 65vw;
    cursor: pointer;
    transition: background 0.3s;
}
.collapsible label:hover{
    background-color: #766e6e;
    font-size: 34px;
    width: 70vw;
    margin: 5vh 12vw;
}
.collapsible input:checked ~ .collapsibleText{
    max-height: 35vh;
    padding-bottom: 20px;
    opacity: 1;
}
.collapsible input{
    display: none;
}

footer{
    background-color: #212529;
    color: white;
    display: flex;
    border-top: solid 5px #ffc107;
    
}
.address{
    margin: 100px;
}
.quickLinks{
    margin: 100px;
}
.shortAbt{
    margin: 100px;
    text-align: justify;
}

/*Department page styling*/
.dept{
    padding: 20px;
    margin-block-start: 0;
    background-image: url("./images/clgbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    
}

.dept-Toggle li{
    padding: 20px;
    margin-top: 20vh;
    list-style: none;
    font-size: 24px;
    font-weight: 700;
    margin-left: 30vw;
    background-color: #ffc107;
    
    
}
.dept-Toggle li:hover{
    background-color: #a98007;
    padding: 25px;

}

.imgContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 38px;
    align-items: center;
    width: 25vw;
    height: 40vh;
}

.dropImg img{
    transition: max-height 0.5s, padding 0.5s;
    width: 18vw;
    height: 30vh;
    padding: 24px;
    border-radius: 42px;
}

/*Library page css*/

.imgSection{
    position: relative;
    overflow: hidden;
    background-position: center;
    margin-block-start: 0;
    background-image: url("./images/clgbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    animation: change 25s infinite ease-in-out;
}

.lib-Bar{
    position: relative;
    margin-top: 10vh;
    margin-block-start: 30vh;
    margin-block-end: 5vh;
    background-color: #ffc107;
    width: 15vw;
    border-radius: 0px 50px 50px 0px;
    
}
.lib-Bar li{
    line-height: 50px;
    padding: 20px;
   

}
.lib-Bar ul li{
    
    list-style: none;
    color: #323232;
    font-weight: bold;
}
.lib-Bar ul li a{
    color: #323232;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    
    
}
.libContent{
    background-color: white;
    width: max-content;
    padding: 20px;
    text-align: justify;
    border-radius: 40px;
    margin-left: 25vw;
    margin-top: -65vh;
    margin-block-end: 10vh;
    
}
.libContent img{
    padding: 10px;
    margin-left: 10vw;
    width: 45vw;
    height: 40vh;
    border-radius: 40px;

}
.libContent h1{
    color: black;
    line-height: 70px;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: 5vw;
    margin-top: 2vh;
}
.libContent h2{
    color: brown;
    margin-left: 10vw;
}
.libContent p{
    line-height: 25px;
    font-size: 20px;
    margin-left: 10vw;
}
@keyframes change{
    25%{
        background-image: url("./images/img1.jpeg");
    }
    50%{
        background-image: url("./images/img2.jpg");
    }
    75%{
        background-image: url("./images/img3.jpg");
    }
    100%{
        background-image: url("./images/img4.jpg");
    }
}








